.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: clamp(1rem, 2vw, 2rem) 2rem;
  gap: clamp(0.5rem, 1vw, 1rem);
  background: var(--gradient-bg);
  color: var(--text-primary);
}

.header h1 {
  font-family: var(--font-title);
  font-size: clamp(1.4rem, 2vw, 2rem);
}

.header nav a {
  text-decoration: none;
  color: var(--text-primary);
  margin-left: 1rem;
  transition: color 0.3s ease;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}

.header nav a:hover {
  color: var(--color-highlight);
}

.header button {
  margin-left: 1rem;
  color: var(--btn-text);
  padding: clamp(0.5rem, 0.5vw, 0.5rem) clamp(0.5rem, 0.5vw, 0.5rem);
  border-radius: 8px;
  cursor: pointer;
}

.header button:hover {
  background: var(--btn-bg-hover);
}
