.hero, .section {
  padding: 4rem 2rem;
  text-align: center;
}

.hero h1 {
  font-family: var(--font-title);
  color: var(--card-title);
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

.hero h2 {
  font-family: poppins, sans-serif;
  color: var(--card-text);
  margin-bottom: 1rem;
  font-size: 1.55rem;
}


.hero p, .section p {
  color: var(--card-text);
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1.5rem;
}
