.hero, .section {
  padding: 2rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 2vw, 2rem);
}

.hero h1 {
  font-family: var(--font-title);
  color: var(--card-title);
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

.hero h2 {
  font-family: poppins, sans-serif;
  color: var(--card-text);
  margin-bottom: 1rem;
  font-size: 1.8rem;
  max-width: clamp(65ch, 60%, 65ch);
  margin-left: auto;
  margin-right: auto;
}


.hero-description {
  color: var(--card-text);
  max-width: 80%;
  line-height: 1.6;
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: auto;
}
