
/* Section projets de développement" */

.projects-title {
  font-family: var(--font-title);
  color: var(--card-title);
  margin-bottom: 1rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  max-width: clamp(65ch, 60%, 65ch);
}


@media (max-width: 768px) {
  .projects-title {
    font-size: 2.5rem;
    text-align: center;
  }
}

